AZURE_TRANSLATOR_KEY=your_translator_key
AZURE_TRANSLATOR_REGION=southeastasia
AZURE_TRANSLATOR_ENDPOINT=https://api.cognitive.microsofttranslator.com

AZURE_SPEECH_KEY=your_speech_key
AZURE_SPEECH_REGION=southeastasia
AZURE_SPEECH_TTS_ENDPOINT=https://southeastasia.tts.speech.microsoft.com/cognitiveservices/v1
